{% extends 'main/base.html' %}
{% load static %}

{% block title %}} 
Страница преподавателя
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h2>Расписание</h2>
        {% if shedweek.1|length == 0  %}
            <div class="list-group" style="margin-bottom: 15px;">
                <a href="#!" class="list-group-item active"><h4>{{shedweek.0}}</h4></a>
                <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Нет уроков</h5>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="list-group" style="margin-bottom: 15px;">
                <a href="#!" class="list-group-item active"><h4>{{shedweek.0}}</h4></a>
                {% for lessonofdayfull in shedweek.1 %}
                    <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ lessonofdayfull.3 }}</h5>
                            <small class="text-muted">{{ lessonofdayfull.0 }}</small>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-lg-6">
        <h2>Предметы</h2>
        {% for el in subjects %}
            <div class="list-group" style="margin: 11px 0px;">
                <a href="#" class="list-group-item list-group-item-action list-group-item-info">{{el.namesubject}}</a>
            </div>       
        {% endfor %}
    </div>
</div>

{% endblock %}









{% block sidebar %} 
    <div class="sidebar-header brand-wrapper">
        <a href=""><h3><img src="{% static 'main\images\dnek.png' %}" style="margin-bottom: 5px;" alt="logo" class="logo"><span style="margin-left: 5px;">Dnekru</span></h3></a>
    </div>
    <!-- <div class="sidebar-header">
        <h3>Bootstrap Sidebar</h3>
    </div> -->
    <ul class="list-unstyled components">
        <li>
            <a href="teacher">Главная</a>
        </li>
        <li>
            <a href="Tshedule">Расписание</a>
        </li>
        <li>
            <a href="Tdnevnik">Журнал</a>
        </li>
    </ul>

    <!-- <ul class="list-unstyled CTAs">
        <li>
            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
        </li>
    </ul> -->
{% endblock %}